p {
    text-align: center;
}
  
p, li, input, select, button {
    font-family: "Muli", sans-serif;
    color: rgb(214, 209, 209);
    font-size: 14px;
    font-weight: 400;
}
  
h1 {
    font-family: "Muli", Verdana;
    font-weight: 600;
    color: rgb(214, 205, 205);
    text-align: center;
}
h2, h3, h4, h5, h6 {
    font-family: "Muli", sans-serif;
    font-weight: 600;
    color: rgb(187, 174, 174);
    text-align: center;
}

h1 {
    font-size: 35px;
}
  
h2 {
    font-size: 25px;
}
  
h3 {
    font-size: 20px;
}
  
h4 {
    font-size: 18px;
}