body {
    font-family: Arial;
    padding: 20px;
    background: #200000;
  }
p, li, input, select, button {
    font-family: "Muli", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
  }
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }